.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 9px;
  margin-top: 15px;
  grid-area: image;
  background-color: black;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}
.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1060px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 8px;
  }
}
